.anuario {
    .wrapper {
        width: 1280px;
        display: block;
        margin: 0 auto;
    }
    p,
    span,
    h1,
    h2,
    h3,
    h4 {
        font-family: "Rajdhani";
        text-transform: uppercase;
        font-style: italic;
    }

    h2 {
        font-family: "Rajdhani";
        font-weight: bold;
        font-size: 63px;
        font-style: italic;
    }
}
